*, html {
  padding: 0;
  margin: 0;
}


body {
  background-image: url('./assets/new_tab_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(1,1,1,.6);
  padding: 12px;
  color: white;
  min-height: calc(100vh - calc(24px + 48px));
  border-radius: 16px;
}

.dateTime {
  font-size: 24px;
  font-weight: 600;
}

.search {
  height: 46px;
  width: 600px;
  border-radius: 24px;
  padding: 0 12px;
  font-size: 16px;
  outline: none;
  border: none;
  margin: 24px 0;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 800px;
}

.link {
  height: 75px;
  width: 75px;
  border-radius: 16px;
  background-color: rgba(1,1,1,.8);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  color: white;

  & img {
    height: 50px;
    width: 50px;
    margin: auto;
  }

  & span {
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
  }
}